<div class="cards-container"> 
  <div class="card animate__animated animate__fadeInUp">
    <img src="images/Ca.png" alt="ConstructionXpert Cover" class="card-image" />
    
    <div class="card-content">
      <h2 class="card-title animate__animated animate__fadeInDown">ConstructionXpert Services</h2>

      <p class="card-description animate__animated animate__fadeIn">
        Application web full stack pour la gestion de projets de construction : création de projets, tâches et ressources, avec une interface admin sécurisée. Réalisée en Java EE avec architecture MVC.
      </p>

      <div class="card-languages animate__animated animate__fadeIn">
        <span class="language-tag java-tag"><i class="fab fa-java"></i> Java EE</span>
        <span class="language-tag"><i class="fas fa-code"></i> JSP & Servlets</span>
        <span class="language-tag"><i class="fas fa-database"></i> MySQL</span>
        <span class="language-tag"><i class="fas fa-plug"></i> JDBC</span>
        <span class="language-tag"><i class="fab fa-git-alt"></i> Git</span>
        <span class="language-tag"><i class="fas fa-server"></i> Apache Tomcat</span>
      </div>

      <a href="https://github.com/saidamst2003/Gestion-_Construction.git" class="card-link" target="_blank">
        <i class="fab fa-github"></i> Voir sur GitHub
      </a>
    </div>
  </div>

    <div class="card animate__animated animate__fadeInUp">
      <img src="images/Cap.png" alt="BeFocused Cover" class="card-image" />
      
      <div class="card-content">
        <h2 class="card-title animate__animated animate__fadeInDown">BeFocused APP</h2>
  
        <p class="card-description animate__animated animate__fadeIn">
          Application de productivité combinant une to-do list et un minuteur Pomodoro. Elle aide à organiser les tâches, suivre le temps de concentration et améliorer la gestion personnelle avec des sessions réglables et un système de cycles.
        </p>
  
        <div class="card-languages animate__animated animate__fadeIn">
          <span class="language-tag html-tag"><i class="fab fa-html5"></i> HTML</span>
          <span class="language-tag css-tag"><i class="fab fa-css3-alt"></i> CSS (Bootstrap)</span>
          <span class="language-tag js-tag"><i class="fab fa-js"></i> JavaScript</span>
        </div>
  
        <a href="https://github.com/saidamst2003/Application--dE-productivit-.git" class="card-link" target="_blank">
          <i class="fab fa-github"></i> Voir sur GitHub
        </a>
      </div>
    </div>
 
    <div class="card animate__animated animate__fadeInUp">
      <img src="images/mu.png" alt="MiMétéo Cover" class="card-image" />
      
      <div class="card-content">
        <h2 class="card-title animate__animated animate__fadeInDown">MiMétéo</h2>
  
        <p class="card-description animate__animated animate__fadeIn">
          Application météo web responsive qui utilise la géolocalisation et les données d'OpenWeatherMap pour afficher les conditions météo actuelles, les prévisions sur 5 jours et permettre la recherche par ville. Réalisée en 5 jours.
        </p>
  
        <div class="card-languages animate__animated animate__fadeIn">
          <span class="language-tag html-tag"><i class="fab fa-html5"></i> HTML</span>
          <span class="language-tag css-tag"><i class="fab fa-css3-alt"></i> CSS (Bootstrap)</span>
          <span class="language-tag js-tag"><i class="fab fa-js"></i> JavaScript</span>
          <span class="language-tag"><i class="fas fa-map-marker-alt"></i> Geolocation API</span>
          <span class="language-tag"><i class="fas fa-cloud-sun"></i> OpenWeatherMap API</span>
        </div>
  
        <a href="https://github.com/saidamst2003/Application-Web-de-M-t-o.git" class="card-link" target="_blank">
          <i class="fab fa-github"></i> Voir sur GitHub
        </a>
      </div>
    </div>
</div>