<!-- ABOUT Section -->
<div class="w-full lg:h-screen h-full m-auto flex items-center justify-cetner py-20 bg-gray-50 dark:bg-gray-900">
    <div class="w-full h-full flex flex-col justify-center items-center sm:px-4 px-2">
        <!--  -->
        <div class="lg:w-[90%] w-full mx-auto flex flex-col lg:gap-6 lg:flex-row items-center justify-center ">
            <div class="relative">
                <!-- Side Img 1 -->
                <img class="absolute z-20 lg:left-[2rem] -top-4 left-[1rem] lg:w-[8rem] lg:h-[8rem] sm:w-[6rem] sm:h-[6rem] w-[3rem] h-[3rem] rounded-full" src="images/pc.jpg" alt="Side Image" />

                <!-- Side Img 2 -->
                <img class="absolute z-20 lg:top-[12rem] sm:top-[11rem] top-[5rem] sm:-left-[3rem] -left-[2rem] lg:w-[8rem] lg:h-[8rem] sm:w-[6rem] sm:h-[6rem] w-[3rem] h-[3rem] rounded-full" src="images/mo.jpg" alt="Side Image 2" />

                <!-- Side Img 3 -->
                <img class="absolute z-20 lg:top-[23rem] sm:top-[20.5rem] top-[10.5rem] left-[2rem] lg:w-[8rem] lg:h-[8rem] sm:w-[6rem] sm:h-[6rem] w-[3rem] h-[3rem] rounded-full" src="images/pexe.jpg" alt="Side Image 3" />

                <!-- Main Img -->
                <img
            class="rounded-full relative object-cover right-0 lg:w-[30rem] lg:h-[30rem] sm:w-[25rem] sm:h-[25rem] w-[12rem] h-[12rem] outline sm:outline-offset-[.77em] outline-offset-[.37em] outline-pink-500"
           src="images/saida.jpg" alt="About us" />
            </div>
            <!--  -->
            <div
                class="lg:w-[60%] p-4 w-full h-full shadow-xl shadow-pink-300/40 flex flex-col justify-center items-center sm:px-6 px-4 rounded-xl">
                <h2 class="text-4xl text-center text-pink-600 dark:text-pink-400 font-bold   md:mt-0 ">
                    À propos de moi
                </h2>
                <p class="md:text-3xl text-2xl text-center text-gray-800 dark:text-gray-200 font-bold my-5">Je suis Saida Mestoure,
                </p>
                <p class="md:text-xl sm:text-lg text-base mt-2 text-justify  mb-14  dark:text-gray-300">développeuse web passionnée par la création d’expériences numériques intuitives et performantes. Actuellement en formation Full Stack Java JEE - Angular à l’École Numérique Ahmed AL HANSALI (Simplon),
                     je combine mes compétences techniques et ma créativité pour développer des solutions modernes et efficaces.<br>

                    Avec un diplôme de Technicienne Spécialisée en Développement Informatique, j’ai eu l’opportunité de faire des stages enrichissants, notamment au Tribunal de Première Instance et à l’Office Régional de Mise en Valeur Agricole du Tadla. Ces expériences m’ont permis de découvrir le monde professionnel et de renforcer mon sens de l’organisation,
                     de l’analyse et de la rigueur.<br>
                    
                    Je maîtrise plusieurs technologies comme Java, Spring Boot, Angular, HTML, CSS, JavaScript, ainsi que des outils comme Git, Figma, Photoshop, Trello… et je suis toujours motivée pour apprendre plus.<br>
                    
                    Au-delà du code, je suis quelqu’un de créative, adaptable, avec une excellente communication, un bon esprit d’équipe, et une vraie orientation vers les résultats.<br>
                    
                    Chaque projet est pour moi une nouvelle aventure, et j’ai hâte de contribuer à des solutions qui ont un impact réel. 
                </p>

              
            </div>

        </div>
    </div>
</div>