<section
  class="back h-screen relative bg-gradient-to-l from-[#180835] via-[#620546] to-[#b10358] overflow-hidden flex items-center justify-center"  >
 
  
  <div class="w-3 h-3 bg-[#faf] rounded-full left-5 top-5 absolute z-10
                before:content-[''] before:w-4 before:h-4 before:bg-[#fff] 
                before:rounded-full before:border-[#fff] before:blur-[10px] 
                before:absolute before:inset-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:z-0"></div>

                <div class="absolute inset-0 z-0 overflow-hidden">
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute left-5 top-5"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute left-14 top-16"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute left-18 top-10"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute left-20 top-22"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute left-[300px] top-[600px]"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute left-[400px] top-[100px]"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute left-[600px] top-[120px]"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute left-[800px] top-[120px]"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute left-[600px] top-[650px]"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute left-[500px] top-[550px]"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute right-[500px] top-[620px]"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute right-[200px] top-[510px]"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute right-[150px] top-[450px]"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute right-[200px] top-[350px]"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute right-[100px] top-[250px]"></div>
    <div class="animate-ping w-3 h-3 bg-[#faf] rounded-full absolute right-[100px] top-[120px]"></div>
    <div class="animate-pulse w-3 h-3 bg-[#faf] rounded-full absolute right-[300px] top-[160px]"></div>
  </div>


  <div class="flex relative items-center flex-col gap-0 z-20">
    <div class="flex gap-10 ">
   <div class="w-[600px] h-[60px] bg-[#121d37] rounded-full relative 
                before:content-[''] before:w-[620px] before:h-[80px] before:bg-[#c16f96] 
                before:rounded-full before:border-[#c16f96] before:blur-[10px] 
                before:absolute before:inset-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:z-0"></div>
    </div>

   
    <div class="flex gap-10 mt-11    ">
      <div class="w-[700px] h-[60px] bg-[#121d37] rounded-full relative 
                before:content-[''] before:w-[720px] before:h-[80px] before:bg-[#c16f96] 
                before:rounded-full before:border-[#c16f96] before:blur-[10px] 
                before:absolute before:inset-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:z-0"></div>
    </div>
 
    <div class="flex gap-10 mt-9 ">
    <div class="w-[650px] h-[60px] bg-[#121d37] rounded-full relative 
                before:content-[''] before:w-[680px] before:h-[80px] before:bg-[#c16f96] 
                before:rounded-full before:border-[#c16f96] before:blur-[10px] 
                before:absolute before:inset-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:z-0"></div>
       </div>
    <h1 class="text-center absolute top-1 z-30">
        <span class="text-[#fffff] text-4xl font-bold font-['Rubik'] uppercase leading-normal pb-[50px] mb-[50px] tracking-widest ">
          SAIDA MESTOUR
        </span>
        <br>
        <span class="text-white text-5xl font-normal font-['Rubik Medium'] uppercase leading-normal tracking-widest mt-11  pb-[59px]  block">
          FULL STACK DEVELOPER
        </span>
    
             
        <div class="mt-4 flex justify-center gap-10  mt-0  block ">
          <a href="https://www.instagram.com" 
             class="text-4xl text-[#f04e23] hover:text-[#e02b1f] transition duration-300 transform hover:scale-125">
            <i class="fab fa-instagram"></i>
          </a>
          
          <a href="https://www.facebook.com/profile.php?id=100094864493909" target="_blank"
             class="text-4xl text-[#3b5998] hover:text-[#2d4373] transition duration-300 transform hover:scale-125">
            <i class="fab fa-facebook"></i>
          </a>
          
          <a href="https://github.com/saidamst2003" target="_blank"
             class="text-4xl text-[#333] hover:text-[#444] transition duration-300 transform hover:scale-125">
            <i class="fab fa-github"></i>
          </a>
          
          <a href="https://www.linkedin.com/in/saida-mestoure-b0b926254" target="_blank" 
             class="text-4xl text-[#0a66c2] hover:text-[#004182] transition duration-300 transform hover:scale-125">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </h1>
    </div>
</section>