.back {
    background-image: url('../../../public/images/pa.jpg'); 
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat; 
    background-blend-mode: overlay; 
}
