<div class="cantact">
  <div class="back max-w-screen-xl mx-auto my-7 lg:px-20" id="contact">
  <form action="" method="post" class="opacity-0 animate-fadeIn">
    <div class="w-full p-8 my-4 mr-auto shadow-2xl md:px-12 lg:w-9/12 lg:pl-20 lg:pr-40 rounded-2xl">
      <div class="flex">
        <h1 class="text-5xl  font-bold">Engagez-moi</h1>
      </div>
      <div class="grid grid-cols-1 gap-5 mt-5 md:grid-cols-2">
        <input class="w-full p-3 mt-2 text-gray-900 bg-gray-100 rounded-lg focus:outline-none focus:border-outline" type="text" placeholder="Prénom" name="firstName" autocomplete="name" />
        <input class="w-full p-3 mt-2 text-gray-900 bg-gray-100 rounded-lg focus:outline-none focus:shadow-outline" type="text" placeholder="Nom" name="lastName" autocomplete="family-name" />
        <input class="w-full p-3 mt-2 text-gray-900 bg-gray-100 rounded-lg focus:outline-none focus:shadow-outline" type="email" placeholder="Email" name="email" autocomplete="email" />
        <input class="w-full p-3 mt-2 text-gray-900 bg-gray-100 rounded-lg focus:outline-none focus:shadow-outline" type="tel" placeholder="Téléphone" name="phone" autocomplete="tel" />
      </div>
      <div class="my-4">
        <textarea placeholder="Message" class="w-full h-32 p-3 mt-2 text-gray-900 bg-gray-100 rounded-lg focus:outline-none focus:shadow-outline" name="message" autocomplete="message"></textarea>
      </div>
      <div class="w-1/2 my-2 lg:w-1/4">
        <button type="submit" class="w-full p-3 text-sm font-bold tracking-wide text-gray-100 uppercase bg-pink-400 rounded-xl hover:bg-blue-700 focus:outline-none focus:shadow-outline transition-all duration-300 ease-in-out transform hover:scale-105">
          Envoyer le message
        </button>
      </div>
    </div>
  </form>

  <div class="w-full px-8 py-12 ml-auto bg-pink-400 lg:-mt-96 lg:w-2/6 rounded-2xl opacity-0 animate-slideIn">
    <div class="flex flex-col text-white">
      
      <!-- Location -->
      <div class="flex w-2/3 my-4 lg:w-1/2">
        <img class="pt-2 pr-2 h-7 w-7" src="https://img.icons8.com/ios-filled/50/ffffff/marker.png" alt="emplacement">
        <div>
          <h2 class="text-2xl">Lieux</h2>
          <p class="text-gray-200" style="white-space: nowrap;">Hay Amal, Béni Mellal</p>
        </div>
      </div>
  
      <!-- Call -->
      <div class="flex w-2/3 my-4 lg:w-1/2">
        <img class="pt-2 pr-2 h-7 w-7" src="https://img.icons8.com/ios-filled/50/ffffff/phone.png" alt="appelez-nous">
        <div>
          <h2 class="text-2xl">Appeler</h2>
          <p class="text-gray-200" style="white-space: nowrap;">Tél : +212-695-030-682</p>
        </div>
      </div>
  
      <!-- Email -->
      <div class="flex w-2/3 my-4 lg:w-1/2">
        <img class="pt-2 pr-2 h-7 w-7" src="https://img.icons8.com/ios-filled/50/ffffff/new-post.png" alt="Envoyez-nous un email">
        <div>
          <h2 class="text-2xl">Email</h2>
          <p class="text-gray-200" style="white-space: nowrap;">Email : saida2003mst&#64;gmail.com</p>
        </div>
      </div>
  
    </div>
  </div>
</div>