.tim {
	background-image: url('../../../public/images/pa.jpg'); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
  }
  
  ul.timeline {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(3, 220px);
	justify-content: center;
  }
  
  .timeline li {
	grid-column: span 2;
	text-align: center;
	border-radius: 65px;
	color: #030303;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.5em;
	font-family: sans-serif;
	position: relative;
	padding: 20px;
	border: 20px solid #fae5e500;
	background: 
	  linear-gradient(#ffffff 0 0) content-box,
	  linear-gradient(var(--c, #cf88c3) 0 0) padding-box,
	  linear-gradient(var(--d, 90deg), #0000 75%, #ee58d2 0) border-box;
  }
  
  .timeline li:nth-child(even) {
	grid-column-end: -1;
	--d: -90deg;
	--c: #fecff0;
  }
  
  .timeline li:not(:last-child) {
	margin-bottom: -20px;
  }
  
  .timeline li:before,
  .timeline li:after {
	content: "";
	display: block;
	height: 0.6em;
  }
  
  .timeline time {
	position: absolute;
	font-size: 0.75em;
	left: calc(100% + 50px);
	top: 50%;
	transform: translateY(-50%);
	white-space: nowrap;
	color: white;
  }
  
  .timeline li:nth-child(even) time {
	left: auto;
	right: calc(100% + 50px);
	color: white;
  }
  
  .timeline time:before {
	content: "";
	position: absolute;
	height: 10px;
	top: calc(50% - 5px);
	right: calc(100% + 5px);
	width: 65px;
	background: repeating-linear-gradient(-90deg, #eeeeeb 0 5px, #eeeeeb 0 10px) 50% / 100% 2px no-repeat;
  }
  
  .timeline li:nth-child(even) time:before {
	right: auto;
	left: calc(100% + 5px);
	background: repeating-linear-gradient(90deg, #dde4e7 0 5px, #eeeeeb 0 10px) 50% / 100% 2px no-repeat;
  }
  