<section class="tim py-12 px-6 lg:px-20">
    <div class="max-w-4xl mx-auto text-center mb-12">
      <h1 class="text-4xl font-bold text-pink-600 mb-4">Mon Parcours</h1>
      <p class="text-gray-100 text-lg">Formation, diplômes et expériences professionnelles</p>
    </div>
  
    <ul class="timeline">
      <li>
        <time datetime="2020-2021">2020-2021</time>
        Baccalauréat Série Lettre et sciences humaines Moderne au Lycée el khawarizmi Souk Sebt (Maroc)
      </li>
      <li>
        <time datetime="2022-2024">2022-2024</time>
        Diplôme en qualité de Technicien Spécialisé en Développement Informatique à l'Institut BILLGATES privé (Maroc)
      </li>
      <li>
        <time datetime="2023-07">Juillet 2023</time>
        Stage au Tribunal de première instance (Maroc)
      </li>
      <li>
        <time datetime="2024-07">Juillet 2024</time>
        Stage au l'Office Régional de Mise en Valeur Agricole Du Tadla (Maroc)
      </li>
      <li>
        <time datetime="2024-2025">2024-2025</time>
        Formation de Développement Web Full Stack JAVA JEE - Angular "En cours" à École Numérique Ahmed AL HANSALI (Simplon)
      </li>
    </ul>
  </section>
  